// var source = "http://stackoverflow.com/questions/7073484/how-do-css-triangles-work";
		
#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}
		
// for more interesting answers, go to the source link