img.resize{
  width:540px;  // you can use % 
  height: auto;
}

// or use the max-width or max-height

#your-img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
} 
