// http://jsfiddle.net/cfypt7yh/3/

// <button>This is a button</button>

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    height:  28px;
    
    border:  2px solid white;
    display:  inline-block;
    float:  none;
    text-align:  center;
    width:  120px;
    padding: 0 auto;
    font-size:  11px;
    color:  #FFF;
    border-radius: 5px;
 }

button:hover  {
     color:  #fff;
     background:  rgba(255, 255, 255, 0.2);
 }			